h1{font-family: 'Courier New', Courier, monospace; border: 5px solid; text-align: center;}
h2{text-align: left; border-bottom: 3cm;}
body{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font: medium; color: black;background-color: burlywood;}